<h1>Support BMo!</h1>
<h2><a href="http://www.sportsfoundation.brown.edu/support/annualUse.html">Click here to donate!</a></h2>
<div class='row'>
<div class="span5">
	<h2>Annual Fund</h2>
    <a href="http://www.sportsfoundation.brown.edu/support/annualUse.html">
    <canvas width=170 height=407 id="annual_thermometer"></canvas>
    </a>
    <h3>Contributions to Club Men's Ultimate Frisbee support the operating budget
    of the club and improve the standing of the club in the eyes of the university.</h3>
</div>
<div class="span5">
    <h2>Michael Franz '03 Endowment:</h2>
    <a href="http://www.sportsfoundation.brown.edu/support/annualUse.html" target="_blank">
    <canvas width=170 height=407 id="franz_thermometer"></canvas>
    </a>
    <h3>Contributions to the Michael Franz '03 Fund provide long term financial stability
    through enhancement of the endowment.</h3>
</div>
</div>